<div class="pt-5 d-md-flex justify-content-around align-items-center">
  <div class="text-white">
    <h1>
      Raise more for <br> what matters
    </h1>
    <p>We empower anyone, anywhere to find, fund and support the caused they believe in.</p>
    <button class="btn btn-info text-white" routerLink="/contactus">contact Us</button>
  </div>
  <div>
    <img style="border-radius: 50%;"  alt="" class="first-screen__img" src="https://boonarabia-prod.s3.eu-west-2.amazonaws.com/uploads/2023-12-20/yBEM7zF6DmNnTR3Dq4kyJaWCE3mAUmHx3wrpb78h.png" srcset="https://boonarabia-prod.s3.eu-west-2.amazonaws.com/uploads/2023-12-20/yBEM7zF6DmNnTR3Dq4kyJaWCE3mAUmHx3wrpb78h.png">
  </div>
</div>
